/**{
	border: 1px solid red !important;
}*/

*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.grid{
	margin: 0 auto;

}

.row{
	display: flex;
	width: 100%;
	margin-bottom: 0px;
}

.col-3{
	width: 25.0%;
}

*{
	font-family: 'Lato', sans-serif;
	color: #b3b3b3;
}

h1{
	text-align: right;
	/*font-family: 'Alegreya Sans', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

h4{
	text-align: right;
	font-family: 'Alegreya Sans', sans-serif;
}

h3{
	font-family: 'Alegreya Sans', sans-serif;
}


#links{
	text-align: center;
	color: green;
}

.col-4{
	width: 33.3%;
}

.col-4 img{
	width: 100%;
	height: auto;
}

.col-12 img{
	width: 100%;
	height: auto;
}

.col-6{
	width: 50%;

}

.col-12{
	width: 100%;

}
